R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=<r2_access_key_id>
R2_SECRET_ACCESS_KEY=<r2_secret_access_key>
R2_BUCKET=<bucket_name>
R2_PUBLIC_URL=https://<public_bucket_domain>
DB_URL=jdbc:postgresql://localhost:5432/wasteless
DB_USERNAME=postgres
DB_PASSWORD=1234
